.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    position: relative;
    text-align: center;
    top: 10px;
    padding: 20px 0;
    border: 8px solid green;
    
}
.second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: relative;
    text-align: center;
    left: 240px;
    top: -147px;
    padding: 20px 0;
    border: 8px solid red;
       
}
.third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    position: relative;
    left: 480px;
    top: -304px;
    text-align: center;
    padding: 20px 0;
    border: 8px solid yellow;
        
}
.tilanvaraajaboxi {
    position: relative;
    height: 120px;

}
p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: blue;
    
    
}
